<div class="login__container">
<div class="login__containerForm">
<h1>Log in</h1>
<%= form_tag login_path do%>
<%= label_tag :email%>
<%= email_field_tag :email%>

<%= label_tag :password%>
<%= password_field_tag :password%>
<%= submit_tag 'Sign in', :class => "login__button"%>
<%end%>
<p>Please <%= link_to 'Sign up', new_user_path %> if you do not have an acount</p>
</div>
</div>